/* =======================
    Colors
=========================== */
:root {
    --white : 255, 255, 255;
    --black : 45, 45, 45;

    --gray-100: 247, 247, 247;
    --gray-200: 241, 241, 241;
    --gray-300: 228, 228, 228;
    --gray-400: 177, 177, 177;
    --gray-500: 80, 80, 80;

    --blue-50 : 218, 245, 255;
    --blue-100 : 0, 174, 239;
    --blue-200 : 28, 44, 84;
}