/* =======================
    Colors
=========================== */
:root {
    --white : #ffffff;
    --black : #2D2D2D;

    --gray-100 : #ECECEC;
    --gray-200 : #8F8F8F;

    --blue-100 : #00AEEF;
    --blue-200 : #3F3D56;
}